table,tr,td{
    border: 2px solid blue;
    border-collapse: collapse;
}

/* table{
    width: 100%; 
     text-align: center;
     
} */

tr{
    height: 30px;
    /* text-align: center; */
}

td{
    height: 50px;
    text-align: center;
    vertical-align:middle;

}

tr:hover{
    background-color: gray;
}

tr:nth-child(odd){
    background-color: lightgreen;
}

span{
    display: block;
    display: none;
}

li{
    display: inline;
    padding: 50px;
        
}

p{
    position: relative;
    left: 30px;
    top: 30px;
    
}

h1{
    position: fixed;
    bottom: 0px;
}

